

<div class="col-md-6 offset-md-3 mt-4" id="container">
      
    
      <form [formGroup]="registerForm" (ngSubmit)="signupUser()">
          
          <div class="form-group">
            <label for="registeremail" ></label>
            <input id="email" type="email" placeholder="Enter email"  formControlName="email" name="email" [(ngModel)]="user.email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
  
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <small *ngIf="f['email'].errors['required']">Email is required</small>
                    <small *ngIf="f['email'].errors['email']">Email is invalid</small>
                </div>
          </div>
  
            <div class="form-group">
              <label for="registerusername" ></label>
              <input id="username" type="text" placeholder="Enter username" pattern="[a-zA-Z ]*" formControlName="username" name="username" [(ngModel)]="user.username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
        
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
              <small *ngIf="f['username'].errors['required']">username is required</small>
              <small *ngIf="f['username'].errors['pattern']">username should be alphabets</small>
            </div>
            </div>
  
            <div class="form-group">
              <label for="registermobilenumber" ></label>
              <input id="mobilenumber " type="tel" placeholder="Enter mobilenumber" pattern="[0-9]*" formControlName="mobilenumber" name="mobilenumber" [(ngModel)]="user.mobilenumber" [ngClass]="{ 'is-invalid': submitted && f['mobilenumber'].errors }">
        
              <div *ngIf="submitted && f['mobilenumber'].errors" class="invalid-feedback">
                <small *ngIf="f['mobilenumber'].errors['required']">mobilenumber is required</small>
                <small *ngIf="f['mobilenumber'].errors['minlength']">mobilenumber must be 10 digits</small>
                <small *ngIf="f['mobilenumber'].errors['maxlength']">mobilenumber must be 10 digits</small>
                <small *ngIf="f['mobilenumber'].errors['pattern']">mobilenumber should be in numbers</small>
  
              </div>
  
            </div>
            <div class="form-group">
              <label for="registerpassword" ></label>
              <input id="password " type="password" placeholder="Enter password" formControlName="password" name="password" [(ngModel)]="user.password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                  <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <small *ngIf="f['password'].errors['required']">Password is required</small>
                      <small *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</small>
                      <small *ngIf="f['password'].errors['maxlength']">Username must not exceed 40 characters</small>
                  </div>
            </div>
  
            <div class="form-group">
              <label for="registerconfirmpassword" ></label>
              <input id="confirmPassword" type="password" placeholder="Confirm password"  formControlName="confirmPassword" name="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                  <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                      <small *ngIf="f['confirmPassword'].errors['required']">confirmPassword is required</small> 
                      <small *ngIf="f['confirmPassword'].errors['matching']">confirmpassword and password must be same</small> 
                  </div>
            </div>
            
            <button id="submitButton" type="submit" class="btn btn-dark">Submit</button>
           <br><br>
          
          <div class="form-group form-check">
            Already a user?<a [routerLink]="['user/login']" id="signinLink">Login</a>             
          </div>
         
        </form>
  </div>
