<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon> local_florist</mat-icon>
    </button>
     <button mat-raised-button color="warn"(click)="openAddtheme()">Theme</button>
    <span class="exam-spacer"></span>
    <mat-icon> fastfood</mat-icon>
    <button mat-raised-button color="warn"(click)="openAddmenu()">Menu</button>
    <span class="exam-space"></span>
    <mat-icon>looks</mat-icon>
    <button mat-raised-button color="warn"(click)="openAddon()">Addon</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>

